#!/usr/bin/make -f

DB2MAN=/usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XMLLINT=$(shell command -v /usr/bin/xmllint || echo :) --valid
XSLTPROC=/usr/bin/xsltproc --nonet

sensible-google.1: manual.xml
	$(XMLLINT) $(<) > /dev/null
	$(XSLTPROC) $(DB2MAN) $(<)

configure:

build: sensible-google.1

clean:
	dh_testdir
	dh_testroot
	dh_clean *.[0-9]

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_install sensible-google usr/bin
	dh_installdirs /etc
	cp config $(CURDIR)/debian/sensible-google/etc/sensible-google

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman *.1
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
