#!/usr/bin/make -f

DB2MAN=/usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl
XMLLINT=$(shell command -v /usr/bin/xmllint || echo :) --valid --noout
XSLTPROC=/usr/bin/xsltproc

sensible-google.1: manual.xml
	$(XMLLINT) $(<)
	$(XSLTPROC) $(DB2MAN) $(<)

configure: ;

build: sensible-google.1 ;

clean:
	dh_testdir
	dh_testroot
	dh_clean *.[0-9]

install: build
	dh install --until dh_prep
	dh_install sensible-google usr/bin
	dh_installdirs /etc
	cp config $(CURDIR)/debian/sensible-google/etc/sensible-google
	dh_installman *.1
	dh install --remaining

binary-arch: install ;

binary-indep: install
	dh binary-indep

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
